@page "/not-found"
<PageTitle>Stranica nije pronađena</PageTitle>

<div class="p-5 text-center">
    <h1>404</h1>
    <p>Stranica nije pronađena.</p>
    <a href="/" class="btn btn-primary">Natrag na početnu</a>
</div>
